<div class="pricing_container">
  <div class="pricing_head_flex">
    <div class="pricing_left">
      <h3>PRICE AND PARTS MANAGEMENT</h3>
    </div>
    <div class="pricing_right">
      <span>Filter by : Non Hi line</span>
      <div class="dropdown"></div>
    </div>
  </div>

  <!-- delete modal -->
  <ng-container *ngIf="modal.showDeleteModal">
    <app-modal-delete></app-modal-delete>
  </ng-container>

  <table class="data_table">
    <thead class="table_head">
      <th style="border-left: 0; width: 150.66px">
        <div class="flex_thead">
          <input type="checkbox" />Part#
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 310.66px">
        <div class="flex_thead">
          Part Description
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 157.66px">
        <div class="flex_thead">
          Cost EA
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 147.66px">
        <div class="flex_thead">
          Price EA
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="border-right: 0; width: 300px">Actions</th>
    </thead>

    <tbody class="table_body">
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />12345</div>
        </td>
        <td>connie.watson@example.com</td>
        <td>3,300.00</td>
        <td>3,400.00</td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete" (click)="modal.showDeleteModal = true"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />12345</div>
        </td>
        <td>connie.watson@example.com</td>
        <td>3,300.00</td>
        <td>3,400.00</td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />12345</div>
        </td>
        <td>connie.watson@example.com</td>
        <td>3,300.00</td>
        <td>3,400.00</td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />12345</div>
        </td>
        <td>connie.watson@example.com</td>
        <td>3,300.00</td>
        <td>3,400.00</td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />12345</div>
        </td>
        <td>connie.watson@example.com</td>
        <td>3,300.00</td>
        <td>3,400.00</td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />12345</div>
        </td>
        <td>connie.watson@example.com</td>
        <td>3,300.00</td>
        <td>3,400.00</td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />12345</div>
        </td>
        <td>connie.watson@example.com</td>
        <td>3,300.00</td>
        <td>3,400.00</td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pricing_footer">
    <div class="pricing_buttons"><button (click)="modal.showPriceModal = true">Add</button></div>
    <div class="pricing_buttons"><button>download data</button></div>
    <div class="pricing_buttons"><button>price setting</button></div>
    <div class="pricing_buttons"><button>csv/excel</button></div>
  </div>
</div>
