@import "../scss/abstract/variables.scss";

.admin-auth-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  .auth-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../image/Home-page-background-1.png");
    background-color: $primaryColor;
    background-repeat: no-repeat;  
    // background-size: 100% 100%;
    background-position: center;
  }
}

.auth-layout-flex {
  display: flex;
}

.auth-icon-wrapper {
  flex: 1;
  // background-color: cyan;
  // position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // margin-bottom: 50px;
  // padding-left: 105px;
  .auth-icon {
    background-image: url("../icons/Logo_new.svg");
    width: 509.13px;
    height: 307px;
    // padding: 50px;
    margin-bottom: 50px;
  }
  .auth-footer {
    display: flex;
    // align-items: center;
    // margin-top: 30px;
    p {
      color: $lightTertiary;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: -0.016em;
    }
  }
}

.auth-form {
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: red;
}
