@mixin displayCenter3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin heightWidth100P {
  width: 100%;
  height: 100vh;
}

@mixin tableActions {
  height: 15px;
  width: 15px;
  background-size: 100% 100%;
}

@mixin tableHead {
  display: flex;
  align-items: center;
  gap: 7.97px;
}

@mixin profileLogo {
  height: 25px;
  width: 25px;
  border: 2px solid $lightTertiary;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
@mixin profileIcon {
  background-image: url("../../image/profile-logo-image.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@mixin dropdown {
  height: 8px;
  width: 14px;
  padding-left: 10px;
  background-size: 100% 100%;
  background-image: url("../../icons/Dropdown\ arrow\ \(1\).svg");
}

@mixin add_button {
  button {
    background: $secondaryColor;
    color: $lightTertiary;
    border-radius: 8px;
    border: none;
    padding: 9px 33px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
  }
}

@mixin backgroundOpacity {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  // cursor: pointer;
}

// form input styling
@mixin inputLableStyle {
  display: flex;
  flex-direction: column;
}
@mixin labelStyle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 4px;
}
@mixin inputStyle {
  height: 38px;
  text-indent: 10px;
  border: 1px solid #231f20;
  border-radius: 2px;
  background: #ffffff;
  outline: none;
}

