// Colors

// Primary Color
$primaryColor: #AF2024;

// Secondary Color
$secondaryColor: #00539F;

// Tertiary colors
$lightTertiary: #FFFFFF;
$mediumTertiary: #E5EEF5;

// Neutral Colors
$lightNeutral: #B2B2B2;
$mediumNeutral: #333333;
$darkNertral: #231F20;

// Hi-Line Colors
$lightHighLine: #E4E9EC;
$mediumHighLine: #414042;