<div class="side-nav-container">
  <div class="side_nav-icon_cont">
    <div class="icon_padding">
      <div class="side-nav-icon">
        <div class="icon-logo"></div>
      </div>
    </div>
    <div class="side-nav-icon">
      <div class="icon-logo"></div>
    </div>

    <div class="side-nav-icon">
      <div class="icon-logo"></div>
    </div>

    <div class="side-nav-icon">
      <div class="icon-logo"></div>
    </div>

    <div class="side-nav-icon">
      <div class="icon-logo"></div>
    </div>
  </div>
</div>
