.tabs_container {
  margin-top: 90px;
  margin-left: 50px;
  margin-bottom: 36px;
  ul {
    display: flex;
    li {
      padding-right: 74px;
      list-style-type: none;
      color: $darkNeutral;
      font-weight: 600;
      font-size: 16px;
      a {
        opacity: 0.4;
        padding-bottom: 5px;
        cursor: pointer;
        padding-right: 12px;
      }
    }
  }
}

.tab_component {
  margin-left: 90px;
  margin-right: 23px;
}

.active_tab {
  color: $secondaryColor;
  opacity: 1 !important;
  border-bottom: 3px solid $secondaryColor;
}
