<div class="log_top_container">
  <div class="log_left">
    <h5>Job Numbers</h5>
  </div>
  <div class="log-right">
    <!-- <app-search></app-search> -->
    <input
      type="text"
      (keyup)="searchInvtLog($event)"
      (blur)="hideAutoSuggestion()"
      placeholder="Search"
    />

    <ng-container *ngIf="modal.showDeleteModal">
      <app-modal-delete
        [deleteId]="deleteId"
        (closeModal)="closeModal($event)"
        (removeData)="removeData($event)"
      ></app-modal-delete>
    </ng-container>

    <button>download data <span class="download_dropdown"></span></button>
  </div>
</div>

<!-- auto suggestion result -->
<ul class="suggestedResult" *ngIf="autoSuggestionResult">
  <li class="hover_list" *ngFor="let item of autoSuggestionResult">
    <a>{{ item.jobId }}</a>
  </li>
</ul>

<table class="data_table">
  <thead class="table_head">
    <!-- <tr> -->
    <th style="border-left: 0">
      <div class="flex_thead">
        <input type="checkbox" (change)="handleCheckBox($event)" />Job#
        <div class="sort_up_down"></div>
      </div>
    </th>
    <th>Job Description</th>
    <th>
      <div class="flex_thead">
        Date
        <div class="sort_up_down"></div>
      </div>
    </th>
    <th>
      <div class="flex_thead">
        Total Quantity
        <div class="sort_up_down"></div>
      </div>
    </th>
    <th>
      <div class="flex_thead" style="width: 90px">
        Invoiced
        <div class="sort_up_down"></div>
      </div>
    </th>
    <th style="border-right: 0">Actions</th>
    <!-- </tr> -->
  </thead>
  <tbody class="table_body">
    <tr *ngFor="let data of renderData; let i = index">
      <td>
        <div class="flex_tbody">
          <input type="checkbox" [checked]="check" />{{ data.jobId }}
        </div>
      </td>
      <td>{{ data.jobDesc }}</td>
      <td>07/07/23</td>
      <td>{{ data.totalQuantity }}</td>
      <td>
        <div class="flex_tbody">
          {{ data.invoiced }}
          <div
            class="dropdown"
            (click)="toggleDropdown(data)"
            (blur)="hideInvoiced()"
          ></div>
        </div>
        <div class="table_dropdown_data" *ngIf="data.showInvoiced">
          <ul>
            <li class="hover_list" (click)="showOpen(data)">Open</li>
            <li class="hover_list" (click)="showReOpen(data)">Re-open</li>
          </ul>
        </div>
      </td>
      <td>
        <div class="actions">
          <div class="print"></div>
          <!-- [routerLink]="['edit/{{data.id}}']" -->
          <div
            class="edit"
            [routerLink]="['edit']"
            [queryParams]="{ prop: data.id }"
            (click)="setData(data.jobId)"
          ></div>
          <div class="delete" (click)="openDeleteModalId(data.id)"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-pagination
  [inventoryLength]="inventoryLength"
  [initialValue]="initialValue"
  [finalValue]="finalValue"
  [displayData]="displayData"
  (abc)="receiveTable($event)"
></app-pagination>

<!-- pagination html -->
<!-- <div class="pagination_wrapper">
  <div class="pagination_left">
    <span>Rows per page: 10</span>
    <div class="pagination_dropdown_icon"></div>
  </div>

  <div class="pagination_right">
    <span
      >{{ initialValue + 1 }}-{{ finalValue }} of {{ inventoryLength }}</span
    >
    <div class="flex_arrow_icon">
      <button
        class="pagination_icon_left"
        [disabled]="disablePrevBtn"
        (click)="previousPageButton()"
      ></button>
      <button
        class="pagination_icon_right"
        [disabled]="disabledNextBtn"
        (click)="nextPageButton()"
      ></button>
    </div>
  </div>
</div> -->
