<div class="user-manage">
  <h3>USER MANAGEMENT</h3>

  <!-- delete modal on button click -->
  <ng-container *ngIf="modal.showDeleteModal">
    <app-modal-delete></app-modal-delete>
  </ng-container>

  <table class="data_table">
    <thead class="table_head">
      <th style="border-left: 0; width: 150px">
        <div class="flex_thead">
          <input type="checkbox" />Employee Id
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 160px">
        <div class="flex_thead">
          Employee Name
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 240px">
        <div class="flex_thead">
          Email
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 110px">
        <div class="flex_thead">
          Role
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th>
        <div class="flex_thead">
          Password
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 20px">
        <div class="flex_thead">
          Status
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="width: 80px">Password Reset</th>
      <th style="border-right: 0; width: 80px">Actions</th>
    </thead>

    <tbody class="table_body">
      <tr *ngFor="let data of renderUserData">
        <td>
          <div class="flex_tbody">
            <input type="checkbox" />{{ data.employeeId }}
          </div>
        </td>
        <td>
          <div class="flex_tbody">
            <div class="profile-logo"><div class="profile-image"></div></div>
            {{ data.employeeName }}
          </div>
        </td>
        <td>{{ data.email }}</td>
        <td>{{ data.role }}</td>
        <td>
          <div class="flex_tbody">
            <span>{{ data.password }}</span>
            <div class="visibility"><div class="visibility_icon"></div></div>
          </div>
        </td>
        <td class="toggle_btn"><input type="checkbox" /></td>
        <td class="reset_color">{{ data.passwordReset }}</td>
        <td>
          <div class="actions">
            <div class="edit" (click)="modal.showEditModal = true"></div>
            <div class="delete" (click)="modal.showDeleteModal = true"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="paginationn_flex">
    <div class="user-add_btn" (click)="modal.showAddModal = true">
      <button>Add</button>
    </div>
    <app-pagination
      [TableLength]="userDataLength"
      [initialValue]="initialValue"
      [finalValue]="finalValue"
      [disabledNextBtn]="disabledNextBtn"
    ></app-pagination>
  </div>
</div>
