@import "../scss/abstract/variables.scss";

.nav-container {
  background-color: $primaryColor;
  height: 65px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo-menuicon {
  display: flex;
  align-items: center;

  .menu-icon {
    width: 40px;
    height: 36px;
    margin-left: 16px;
    cursor: pointer;
    .menu-icon-svg {
      background-image: url("../icons/ButtonMenu\(EDE3\).svg");
      height: 100%;
      background-size: 100% 100%;
    }
  }

  .nav-logo {
    width: 80px;
    height: 52px;
    margin-left: 28px;
    .nav-logo-img {
      background-image: url("../icons/Logo_new.svg");
      height: 100%;
      background-size: 100% 100%;
    }
  }
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .profile-logo {
    @include profileLogo;
    .profile-image {
      @include profileIcon;
    }
  }
  .profile-name {
    color: $lightTertiary;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 12px;
  }
  .profile-dropdown {
    height: 8px;
    width: 14px;
    margin-right: 48px;
    margin-left: 23px;
    cursor: pointer;
    .profile-dropdown-svg {
      background-image: url("../icons/Vector.svg");
      height: 100%;
      background-size: 100% 100%;
    }
  }
}
