<div class="add_modal_container">
  <div class="form_outer">
    <div class="flex_modal_head">
      <h3>Edit Area</h3>
      <div class="cross_wrapper" (click)="modal.showAreaEditModal = false">
        <div class="cross_icon"></div>
      </div>
    </div>

    <form class="form_container">
      <div class="user_add_flex">
        <div class="input_style add_area">
          <label for="">Part Number*</label>
          <input type="text" placeholder="Enter number" />
        </div>
      </div>

      <div class="user_add_button">
        <button>Update</button>
      </div>
    </form>
  </div>
</div>
