<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="resetPassword()"
  class="admin-form_1"
>
  <div class="login-head"><h2>Reset Password</h2></div>

  <div class="verification-text">
    <p>Password must be alphanumeric and minimum 8 characters long</p>
  </div>

  <div class="login-alignment">
    <div class="form-input-alignment">
      <label for="">New Password</label>
      <input
        type="password"
        placeholder="Enter new password"
        name="password"
        formControlName="new_password"
      />
    </div>
    <div
      class="validation_msg"
      *ngIf="new_password && new_password.invalid && new_password.touched"
    >
      <span>Invalid Password</span>
    </div>
  </div>

  <div class="login-alignment">
    <div class="form-input-alignment">
      <label for="">Confirm New Password</label>
      <input
        type="password"
        placeholder="Enter new password"
        name="email"
        formControlName="cnfm_new_password"
      />
    </div>
    <div
      class="validation_msg"
      *ngIf="
        cnfm_new_password &&
        cnfm_new_password.invalid &&
        cnfm_new_password.touched
      "
    >
      <span>Invalid Password</span>
    </div>
  </div>

  <button class="login-button" [disabled]="resetPasswordForm.invalid">Continue</button>
  <!-- <div routerLink="/" class="login-button"> -->
  <!-- </div> -->
</form>
