<div class="add_modal_container">
  <div class="form_outer">
    <h3>Add User</h3>
    <form class="form_container">
        
      <div class="user_add_flex">
        <div class="input_style">
          <label for="">Part Number*</label>
          <input type="text" placeholder="Enter number" />
        </div>
        <div class="input_style">
          <label for="">Part Description*</label>
          <input type="text" placeholder="Enter text" />
        </div>
        <div class="input_style">
          <label for="">Cost EA</label>
          <input type="text" placeholder="Enter number" />
        </div>
        <div class="input_style">
          <label for="">Price EA</label>
          <input type="text" placeholder="Enter number" />
        </div>
      </div>

      <div class="user_add_button">
        <button>Add</button>
      </div>

    </form>
  </div>
</div>
