.layout {
//   opacity: 0.8; 
  position: relative;

}

.add_container {
  @include displayCenter3;
opacity: 1;
  .addUser {
    // opacity: 1 !important;
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: red;
  }
}
