.layout {
  //   opacity: 0.8;
  position: relative;
}

.add_container {
  @include displayCenter3;
  // top: 0;
  opacity: 1;
  .addUser {
    position: absolute;
    // opacity: 1 !important;
    height: 400px;
    width: 400px;
    background-color: red;
  }
}
