<div class="area-manage">
  <h3>AREA MANAGEMENT</h3>

  <!-- delete modal -->
  <ng-container *ngIf="modal.showDeleteModal">
    <app-modal-delete></app-modal-delete>
  </ng-container>

  <table class="data_table">
    <thead class="table_head">
      <th style="border-left: 0; width: 770px">
        <div class="flex_thead">
          <input type="checkbox" />Area
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th>
        <div class="flex_thead" style="width: 170px">
          Activate/Deactivate
          <div class="sort_up_down"></div>
        </div>
      </th>
      <th style="border-right: 0; width: 190px">Actions</th>
    </thead>

    <tbody class="table_body">
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />Lane 7</div>
        </td>
        <td class="toggle_btn"><input type="checkbox" /></td>
        <td>
          <div class="actions">
            <div class="edit" (click)="modal.showAreaEditModal = true"></div>
            <div class="delete" (click)="modal.showDeleteModal = true"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />Lane 7</div>
        </td>
        <td class="toggle_btn"><input type="checkbox" /></td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />Lane 7</div>
        </td>
        <td class="toggle_btn"><input type="checkbox" /></td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />Lane 7</div>
        </td>
        <td class="toggle_btn"><input type="checkbox" /></td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />Lane 7</div>
        </td>
        <td class="toggle_btn"><input type="checkbox" /></td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex_tbody"><input type="checkbox" />Lane 7</div>
        </td>
        <td class="toggle_btn"><input type="checkbox" /></td>
        <td>
          <div class="actions">
            <div class="edit"></div>
            <div class="delete"></div>
          </div>
        </td>
      </tr>

      <div class="area-add_btn">
        <button (click)="modal.showAreaModal = true">Add</button>
      </div>
    </tbody>
  </table>
</div>
