<form
  [formGroup]="loginForm"
  (ngSubmit)="handleForgetPassword()"
  class="admin-form_1"
>
  <div class="login-head"><h2>Forgot Password</h2></div>

  <div class="login-alignment">
    <div class="form-input-alignment">
      <label for="">Company Code*</label>
      <input
        type="text"
        placeholder="Enter company code"
        name="company code"
        formControlName="company_code"
      />
    </div>
    <div
      class="validation_msg"
      *ngIf="company_code && company_code.invalid && company_code.touched"
    >
      <span> Invalid company code</span>
    </div>
  </div>

  <div class="login-alignment">
    <div class="form-input-alignment">
      <label for="">Registered Email*</label>
      <input
        type="text"
        placeholder="Enter email"
        name="email"
        formControlName="email"
      />
    </div>
    <div class="validation_msg" *ngIf="email && email.invalid && email.touched">
      <span>Email is required</span>
    </div>
  </div>

  <button
    class="login-button"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Continue
  </button>
  <!-- <div routerLink="/verify-email" class="login-button">
  </div> -->

  <div class="auth-return">
    <p>Return to <a routerLink="/">Login</a></p>
  </div>
</form>
