<div class="edit-j">
  <div class="right-left-arrow" routerLink="/inventory"></div>
  <h5>Edit Job# - 123456</h5>
</div>

<div class="edit-job-d">
  <form
    [formGroup]="editDesc"
    (ngSubmit)="UpdateJobDesc(editDesc.value)"
    class="edit-job-form"
  >
    <div class="edit-j-desc">
      <label for="">Job Description</label>

      <input
        type="text"
        formControlName="jobDesc"
        ngModel="{{ jobDescription?.jobDesc }}"
      />

      <!-- <span class="err-msg">Field is required </span> -->
    </div>

    <div class="add-inventory-submit">
      <button class="btn" type="submit">Update</button>
    </div>
  </form>
</div>
