<div class="nav-container">
  <!-- Navbar left section -->
  <div class="logo-menuicon">
    <div class="menu-icon">
      <div class="menu-icon-svg"></div>
    </div>

    <div class="nav-logo">
      <div class="nav-logo-img"></div>
    </div>
  </div>

  <!-- Navbar right section -->
  <div class="profile-section">
    <div class="profile-logo">
      <div class="profile-image"></div>
    </div>
    <h6 class="profile-name">Json</h6>
    <div class="profile-dropdown" >
      <div class="profile-dropdown-svg"></div>
    </div>
  </div>
</div>

<app-profile-banner></app-profile-banner>


