<form
  [formGroup]="inventoryAddForm"
  (ngSubmit)="handleAddInventoryForm(inventoryAddForm.value)"
  class="inventory_form"
>
  <div class="inventory_form_flex">
    <div class="inventory_input">
      <label
        for=""
        [ngClass]="{
          error: job_number && job_number.invalid && job_number.touched
        }"
        >Job Number*</label
      >
      <input
        type="text"
        placeholder="Enter Number"
        formControlName="jobId"
      />
      <div
        class="error_msg"
        *ngIf="job_number && job_number.invalid && job_number.touched"
      >
        <span>Field is required</span>
      </div>
    </div>

    <div class="inventory_input">
      <label
        for=""
        [ngClass]="{
          error: job_desc && job_desc.invalid && job_desc.touched
        }"
        >Job Description*</label
      >
      <input type="text" placeholder="Enter text" formControlName="jobDesc" />
      <div
        class="error_msg"
        *ngIf="job_desc && job_desc.invalid && job_desc.touched"
      >
        <span>Field is required</span>
      </div>
    </div>

    <div class="inventory_input">
      <label
        for=""
        [ngClass]="{
          error: area && area.invalid && area.touched
        }"
        >Area</label
      >
      <input type="text" placeholder="Select" formControlName="area" />
      <div class="error_msg" *ngIf="area && area.invalid && area.touched">
        <span>Field is required</span>
      </div>
    </div>
    <div class="inventory_input">
      <label
        for=""
        [ngClass]="{
          error: part_number && part_number.invalid && part_number.touched
        }"
        >Part Number</label
      >
      <input
        type="text"
        placeholder="Enter Number"
        formControlName="part_number"
      />
      <div
        class="error_msg"
        *ngIf="part_number && part_number.invalid && part_number.touched"
      >
        <span>Field is required</span>
      </div>
    </div>
    <div class="inventory_input">
      <label
        for=""
        [ngClass]="{
          error: part_desc && part_desc.invalid && part_desc.touched
        }"
        >Part Description</label
      >
      <input
        type="text"
        placeholder="Enter Description"
        formControlName="part_desc"
      />
      <div
        class="error_msg"
        *ngIf="part_desc && part_desc.invalid && part_desc.touched"
      >
        <span>Field is required</span>
      </div>
    </div>
    <div class="inventory_input">
      <label
        for=""
        [ngClass]="{
          error: quantity && quantity.invalid && quantity.touched
        }"
        >Quantity</label
      >
      <input
        type="text"
        placeholder="Enter Number"
        formControlName="totalQuantity"
      />
      <div
        class="error_msg"
        *ngIf="quantity && quantity.invalid && quantity.touched"
      >
        <span>Field is required</span>
      </div>
    </div>
  </div>

  <div class="add_button">
    <button [disabled]="!inventoryAddForm.valid">Add</button>
  </div>
</form>
