<form class="inventory_form">
  <div class="inventory_form_flex">
    <div class="inventory_input">
      <label for="">Job Number*</label>
      <input type="text" placeholder="Enter Number" />
    </div>

    <div class="inventory_input">
      <label for="">Job Description*</label>
      <input type="text" placeholder="Enter text" />
    </div>
    <div class="inventory_input">
      <label for="">Area</label>
      <input type="text" placeholder="Select" />
    </div>
    <div class="inventory_input">
      <label for="">Part Number</label>
      <input type="text" placeholder="Enter Number" />
    </div>
    <div class="inventory_input">
      <label for="">Part Description</label>
      <input type="text" placeholder="Enter Description" />
    </div>
    <div class="inventory_input">
      <label for="">Quantity</label>
      <input type="text" placeholder="Enter Number" />
    </div>
  </div>

  <div class="inventory_button">
    <button>Add</button>
  </div>
</form>
